In [65]:
import pandas as pd

In [47]:
skill_set = ['r','python','java','c++','ruby','perl','matlab','javascript','scala','excel','tableau',
             'd3js','sas','spss','d3','hadoop','mapreduce','spark',
             'pig','hive','shark','zookeeper','flume','mahout',
             'sql','nosql','hase','cassandra','mongodb','docker','aws']

In [32]:
df = pd.read_csv('data_scientist.csv')

In [6]:
df.head()

,Unnamed: 0,city,company,desc,job_title,skills,state,url,job
0,0,Unite,IBM,"['job', 'descript', 'ibm', 'amaz', 'opportun',...",Entry-Level Data Scientist,"['r', 'java', 'sas', 'python']",States,https://www.indeed.com/rc/clk?jk=68907b23cb078...,Data Scientist
1,1,New York,Rent the Runway,"['rent', 'runway', 'recent', 'name', '9', 'cnb...",Data Scientist,"['java', 'r', 'python']",NY,https://www.indeed.com/rc/clk?jk=b59410cae51ba...,Data Scientist
2,2,New York,JobRobin,"['100000', '170000', 'year', 'job', 'descript'...",Sports Data Scientist,"['r', 'sql', 'python']",NY,https://www.indeed.com/company/JobRobin/jobs/S...,Data Scientist
3,3,New York,Guidepoint Global,"['overview', 'guidepoint', 'data', 'insight', ...",Associate Data Scientist,"['r', 'sql', 'python']",NY,https://www.indeed.com/rc/clk?jk=7f048a8152caa...,Data Scientist
4,4,Unite,IBM,"['internship', 'job', 'descript', 'posit', 'us...",Data Scientist - Intern Conversion,"['r', 'java', 'sas', 'python']",States,https://www.indeed.com/rc/clk?jk=a4139a3bfaa51...,Data Scientist

In [16]:
df[df['city']== "Unite"] #zero is one of them
df.iloc[40,:].url #the ones that say united states are because they are avaiable in multiple locations

'https://www.indeed.com/rc/clk?jk=20eb2d365e91217f&fccid=734cb5a01ee60f80&vjs=3'

In [37]:
df['city'] = df.city.apply(lambda x: 'Multiple' if x == "Unite" else x)
df['state'] = df.state.apply(lambda x: 'Multiple' if x == "States" else x)

In [39]:
#df.head()

In [50]:
def get_query_info(skill_set,query_url):
    
    job_title, company_name, city, state, job_description = get_job_info(query_url)
    text_no_skills, skills = clean_job_description(job_description,skill_set)
    
    return job_title, company_name, city, state, text_no_skills, skills

In [51]:
get_query_info(skill_set,'https://www.indeed.com/viewjob?jk=77f94ac2f9a13d32&tk=1d0af38sl0k62002&from=serp&vjs=3')

NameError: name 'indeed' is not defined

In [42]:
def get_top_sim(query_words, df):
    #TO DO 1) here is where I need to incorporate semantic similiarty 
    #      2) can't stem prior to doing similiarty so need to unstem and then resteam
    

    
    query_words = [" ".join(query)]
    job_words = df.desc.apply(lambda x: " ".join(x)).values.tolist() #this gives you a list of list of the jobs 
     
    vectorizer = TfidfVectorizer() #make sure these defaults are correct
    model = vectorizer.fit(job_words)
    
    query_tfidf = model.transform(query_words)
    job_tfidf = model.transform(job_words)
    
    cosine_sim = cosine_similarity(query_tfidf,job_tfidf)
    top_10_sim = cosine_sim.argsort()[0][::-1][0:10]
    
    return cosine_sim, top_10_sim

In [43]:
def get_top_jobs(df,indices):
    return df.iloc[indices,:]