In [11]:
from model_code import * 
from top_jobs import *

# Find Your Ideal Job

## Inputs:

__1. Ideal Job Url__
- Find your ideal job on Indeed and input the url of the job description page

(Type =  string)

In [12]:
ideal_url = 'https://www.indeed.com/viewjob?jk=c7990915d67d7e5d&tk=1d0ctj5ds0hr8003&from=serp&vjs=3'

__2. Number to Display__
- Limit your search by selecting the number of jobs you would like to be displayed
- They will be displayed from most similar to least similar to the ideal job you selected

(Type = int)

In [13]:
top_num = 10

__3. Job (Optional)__
- If you would like to search for a specific job you can! 
- Available jobs to query: 'Data Scientist', 'Machine Learning Engineer', 'Software Developer', 'Full Stack Developer', 'Business Intelligence Analyst', 'Data Engineer', 'Data Architect', 'Dev Ops', 'Python' 

(Type = String)

In [14]:
job = 'Data Scientist'

__4. City __
- If you would like to search for jobs in a specific city, you can!

(Type = String)

In [15]:
city = 'New York'

__5. State__
- If you would like to search for jobs in a specific state, you can!
 
(Type = String)

In [16]:
state = 'NY'

__6. Skills__
- If you would like to search for jobs that require specific skills, you can!
- Available skills: 'r','python','java','c++','ruby','perl','matlab','javascript','scala','excel','tableau','d3js','sas','spss','d3','hadoop',  'mapreduce','spark','pig','hive','shark','zookeeper','flume','mahout','sql','nosql','hase','cassandra','mongodb','docker','aws'

(Type = List of Strings)

In [17]:
skills = ['python']

__7. Stringency__ 
- Options: 'all', 'only', 'atleast'
    - All: query jobs that have all of the skills in your skills list
    - Only: query jobs that have only the skills featured in your skills list 
    - Atleast: query jobs that have at least one of the jobs featured in your skills set and can include skills not inlcluded in your skills set
    
(Type = String)

In [18]:
stringency = 'atleast'

# Results

In [19]:
results = top_jobs(ideal_url,top_num,job,city,state,skills, stringency)

In [20]:
results

,job_title,company,state,city,skills,url
0,Data Scientist,AdTheorent,NY,New York,"['spark', 'r', 'matlab', 'hadoop', 'sas', 'pyt...",https://www.indeed.com/rc/clk?jk=45ca64d0aef52...
1,Data Scientist - Bomoda,Weber Shandwick,NY,New York,"['aws', 'spark', 'hadoop', 'python', 'hive', '...",https://www.indeed.com/rc/clk?jk=8efb3f406d4e8...
2,"Data Scientist, People Analytics",WeWork,NY,New York,"['r', 'sql', 'python']",https://www.indeed.com/rc/clk?jk=0a020fe52ecb3...
3,Data Scientist,IQ Workforce,NY,New York,"['sas', 'r', 'tableau', 'spss', 'python']",https://www.indeed.com/rc/clk?jk=db3a2f5f266dc...
4,Data Scientist (Analytics),Rockefeller Foundation,NY,New York,"['r', 'excel', 'python']",https://www.indeed.com/rc/clk?jk=056da67a09d0e...
5,Data Analyst / Data Scientist,Defined Clarity,NY,New York,"['perl', 'java', 'r', 'tableau', 'python', 'sql']",https://www.indeed.com/rc/clk?jk=f3196a8bc16ce...
6,Junior Data Scientist,Viacom,NY,New York,"['spark', 'r', 'tableau', 'python', 'hive', 's...",https://www.indeed.com/rc/clk?jk=b25880be89992...
7,Data Scientist,Dstillery,NY,New York,['python'],https://www.indeed.com/rc/clk?jk=b070ab413cdd3...
8,Data Scientist,Capital One,NY,New York,"['aws', 'spark', 'r', 'tableau', 'hadoop', 'sc...",https://www.indeed.com/rc/clk?jk=019a465461164...
9,Principal Data Scientist,ADP,NY,New York,"['sas', 'excel', 'java', 'r', 'matlab', 'mahou...",https://www.indeed.com/rc/clk?jk=a5b57d1471fc1...