In [239]:
import pandas as pd
import ast
from nltk.stem import SnowballStemmer 
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity

In [47]:
skill_set = ['r','python','java','c++','ruby','perl','matlab','javascript','scala','excel','tableau',
             'd3js','sas','spss','d3','hadoop','mapreduce','spark',
             'pig','hive','shark','zookeeper','flume','mahout',
             'sql','nosql','hase','cassandra','mongodb','docker','aws']

In [751]:
#CHECK FOR CLEANING

#df_ds = pd.read_csv('data_scientist.csv') 
#df_ds.head()


#df_mle = pd.read_csv('machine_learning_engineer.csv')
#df_mle.head


#df_sd = pd.read_csv('softwate_developer.csv')
#df_sd.head()
#df_sd.city.unique() #united states error
#df_sd.state.unique() # 'Pennsylvania', 'Arkansas', 'Florida','California', 'Tennessee', 'Home', 'Based
#df_sd[df_sd['desc'] == "['U', 'n', 'a', 'v', 'a', 'i', 'l', 'a', 'b', 'l', 'e']"] #none only 1 company name unaivailable


#df_fsd = pd.read_csv('full_stack_developer.csv')
#df_fsd.city.unique() 
#df_fsd.state.unique() # 'California', 'Texas', 'Connecticut', 'States', 'Remote'
#df_fsd[df_sd['desc'] == "['U', 'n', 'a', 'v', 'a', 'i', 'l', 'a', 'b', 'l', 'e']"] #none 
#df_fsd[df_fsd['company'] == "unavailable"] # one
#df_fsd[df_fsd['city'] == "unavailable"] #none none for state

# df_bia = pd.read_csv('business_intelligence_analyst.csv')
# df_bia.city.unique() #Nort = Chapel Hill NC
# df_bia[df_bia['city'] == 'Nort']
# df_bia.state.unique() 
# df_bia[df_bia['desc'] == "['U', 'n', 'a', 'v', 'a', 'i', 'l', 'a', 'b', 'l', 'e']"] #none 
# df_bia[df_bia['company'] == "unavailable"] # none
# df_bia[df_bia['state'] == "unavailable"] #none none for state

# df_de = pd.read_csv('data_engineer.csv')
# df_de.city.unique() # Home  = Home Based = Remote
# df_de.state.unique() #'Based' 'Texas' 'Pennsylvania' 'unavailable' 'Alabama'
# df_de[df_de['state'] == 'Based'].url.values #Based = Home Based make city and 
# df_de[df_de['state']=='unavailable']
# df_de[df_de['desc'] == "['U', 'n', 'a', 'v', 'a', 'i', 'l', 'a', 'b', 'l', 'e']"] #two 
#df_de[df_de.isnull()].shape #3580 null values

# df_da = pd.read_csv('data_architect.csv')
# df_da.city.unique()
# df_da.state.unique() #'California', 'Massachusetts', 'Georgia, 'Florida' 'California' 'State' 'unavailable'
# df_da[df_da['state'] == 'unavailable'] # city = New Yor state = State
# df_de[df_de['desc'] == "['U', 'n', 'a', 'v', 'a', 'i', 'l', 'a', 'b', 'l', 'e']"]


#df_dev = pd.read_csv('dev_ops.csv')
# df_dev.city.unique() # nan ada
# df_dev['city'] = df_dev.city.fillna('Remote')
# df_dev[df_dev['city'] == 'Remote']
#df_dev.state.unique() # island 
#df_dev[df_dev['state'] == 'Island']

df_py = pd.read_csv('python.csv')

df_py.city.unique()
df_py = df_py.reset_index(drop=True)
l = df_py[df_py.city.isnull()]
l = l[l['state'] != 'Remote']
l.url.values

array(['https://www.indeed.com/rc/clk?jk=970b07d1e32f0e44&fccid=a5d6553914fb729e&vjs=3',
       'https://www.indeed.com/rc/clk?jk=b8cd9d60882299cf&fccid=a5d6553914fb729e&vjs=3',
       'https://www.indeed.com/rc/clk?jk=a964a8857b905c69&fccid=de71a49b535e21cb&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3',
       'https://www.indeed.com/rc/clk?jk=26e1197b77b547c0&fccid=88e8a91c8a5af093&vjs=3'],
      dtype=object)

In [402]:
#df_ds = pd.read_csv('data_scientist.csv') 
#df_mle = pd.read_csv('machine_learning_engineer.csv')
#df_sd = pd.read_csv('softwate_developer.csv')
#df_fsd = pd.read_csv('full_stack_developer.csv')
#df_bia = pd.read_csv('business_intelligence_analyst.csv')
#df_de = pd.read_csv('data_engineer.csv')
#df_da = pd.read_csv('data_architect.csv')

total_len = df_ds.shape[0] + df_mle.shape[0] + df_sd.shape[0] + df_fsd.shape[0] + df_bia.shape[0] + df_de.shape[0]+ df_da.shape[0]
total_len

25455

In [722]:
dfList = [df_ds,df_mle,df_sd,df_fsd,df_bia,df_de,df_da,df_dev]

In [723]:
def join_dfs(dfList):
    return reduce(lambda x, y: x.append(y), dfList)

In [597]:
joint_df = join_dfs(dfList)
joint_df.shape

(48471, 9)

In [598]:
joint_df[joint_df['url'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, city, company, desc, job_title, skills, state, url, job]
Index: []

In [724]:
#CHARGE SOFTWARE DEVELOPER NAME 
def format_df(df): 
    
    #dropping unnamed 
    df = df.iloc[:,1:]
    df = df.reset_index(drop=True)
    
    #dropping duplicated rows
    df = df.drop_duplicates()
    df = df.reset_index(drop=True)
       
    #getting rid of jobs that have no descriptions 
    index = df[df['desc'] == "['U', 'n', 'a', 'v', 'a', 'i', 'l', 'a', 'b', 'l', 'e']"].index
    df = df.drop(index,axis = 0)
    df = df.reset_index(drop=True)
    
    #nan cities are remote
    df['city'] = df.city.fillna('Multiple')
    
    #formatting for alternate locations 
    df['city'] = df.city.apply(lambda x: 'Multiple' if x == "Unite" else x)
    df['city'] = df.city.apply(lambda x: 'unavailable' if x == "unavailabl" else x)
    df['city'] = df.city.apply(lambda x: 'unavailable' if x == "unavailabl" else x)
    df['city'] = df.city.apply(lambda x: 'Chapel Hill' if x == "Nort" else x)
    df['city'] = df.city.apply(lambda x: 'Remote' if x == "Hom" else x)
    df['city'] = df.city.apply(lambda x: 'Remote' if x == "Home" else x)
    df['city'] = df.city.apply(lambda x: 'New York' if x == "New Yor" else x)
    df['city'] = df.city.apply(lambda x: 'San Juan' if x == "Puert" else x)
    df['city'] = df.city.apply(lambda x: 'Multiple' if x == "Rhod" else x)

     
    df['state'] = df.state.apply(lambda x: 'Multiple' if x == "States" else x)
    df['state'] = df.state.apply(lambda x: 'NY' if x == "State" else x)
    df['state'] = df.state.apply(lambda x: 'Remote' if x == "Home" else x)
    df['state'] = df.state.apply(lambda x: 'Remote' if x == "Based" else x)
    df['state'] = df.state.apply(lambda x: 'MN' if x == 'Minnesota' else x)
    df['state'] = df.state.apply(lambda x: 'AZ' if x == 'Arizona' else x)
    df['state'] = df.state.apply(lambda x: 'PA' if x == 'Pennsylvania' else x)
    df['state'] = df.state.apply(lambda x: 'FL' if x == 'Florida' else x)
    df['state'] = df.state.apply(lambda x: 'CA' if x == 'California' else x)
    df['state'] = df.state.apply(lambda x: 'TN' if x == 'Tennessee' else x)
    df['state'] = df.state.apply(lambda x: 'AR' if x == 'Arkansas' else x)
    df['state'] = df.state.apply(lambda x: 'TX' if x == 'Texas' else x)
    df['state'] = df.state.apply(lambda x: 'CT' if x == 'Connecticut' else x)
    df['state'] = df.state.apply(lambda x: 'NC' if x == 'Carolina' else x)
    df['state'] = df.state.apply(lambda x: 'AL' if x == 'Alabama' else x)
    df['state'] = df.state.apply(lambda x: 'MA' if x == 'Massachusetts' else x)
    df['state'] = df.state.apply(lambda x: 'GA' if x == 'Georgia' else x)
    df['state'] = df.state.apply(lambda x: 'IL' if x == 'Illinois' else x)
    df['state'] = df.state.apply(lambda x: 'VA' if x == 'Virginia' else x)
    df['state'] = df.state.apply(lambda x: 'PR' if x == 'Rico' else x)
    df['state'] = df.state.apply(lambda x: 'KS' if x == 'Kansas' else x)
    df['state'] = df.state.apply(lambda x: 'RI' if x == 'Island' else x)
    
    #filling nan
    df.fillna('unavailable')
 
    return df

In [725]:
formatted_df = format_df(joint_df) #write this into a csv

In [728]:
formatted_df.state.unique()

array(['Multiple', 'NY', 'LA', 'DC', 'CA', 'Remote', 'NJ', 'PA', 'IN',
       'IL', 'GA', 'MD', 'VA', 'ID', 'FL', 'WA', 'MA', 'NC', 'TN', 'AZ',
       'TX', 'MN', 'KS', 'OH', 'ME', 'MO', 'SC', 'CT', 'MI', 'PR', 'RI',
       'CO', 'NV', 'DE', 'IA', 'OR', 'WI', 'KY', 'UT', 'AR', 'NH', 'AL',
       'NE', 'WV', 'HI', 'MS', 'SD', 'ND', 'OK', 'VT', 'NM', 'MT', 'WY'],
      dtype=object)

In [731]:
formatted_df[formatted_df['state'] == 'Multiple']

,city,company,desc,job_title,skills,state,url,job
0,Multiple,IBM,"['job', 'description', 'ibm', 'amazing', 'oppo...",Entry-Level Data Scientist,"['r', 'java', 'sas', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=68907b23cb078...,Data Scientist
2,Multiple,IBM,"['internship', 'job', 'description', 'position...",Data Scientist - Intern Conversion,"['r', 'java', 'sas', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=a4139a3bfaa51...,Data Scientist
18,Multiple,Infometry,"['scientist', 'responsible', 'scientific', 'in...",Data Scientist,[],Multiple,https://www.indeed.com/rc/clk?jk=e9c4ce13326ee...,Data Scientist
25,Multiple,Microsoft,"['internship', 'data', 'scientists', 'microsof...",Intern opportunities for students: Data & Appl...,"['perl', 'excel', 'sas', 'r', 'matlab', 'hadoo...",Multiple,https://www.indeed.com/rc/clk?jk=d4a369d1e1ad7...,Data Scientist
35,Multiple,Cigna,"['fun', 'work', 'company', 'people', 'truly', ...",Data Scientist (Informatics Service Operations),"['tableau', 'sql']",Multiple,https://www.indeed.com/rc/clk?jk=0bf6b9d83671e...,Data Scientist
89,Multiple,Nehemiah Security,"['data', 'scientist', 'us', 'nehemiah', 'secur...",Data Scientist,"['r', 'matlab', 'excel', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=dca5cb33ec9b2...,Data Scientist
108,Multiple,Qikspace,"['job', 'summary', 'talented', 'data', 'scient...",data scientist,"['r', 'java', 'd3js', 'pig', 'python', 'hive',...",Multiple,https://www.indeed.com/rc/clk?jk=403a455bcbe13...,Data Scientist
145,Multiple,Rho AI,"['scikitlearn', 'num', 'py', 'tensorflow', 'le...",Sr. Data Scientist,['python'],Multiple,https://www.indeed.com/rc/clk?jk=a4841317be7f8...,Data Scientist
168,Multiple,Palo Alto Networks,"['palo', 'alto', 'networks®is', 'fastestgrowin...",Senior Data Scientist,"['spark', 'hadoop']",Multiple,https://www.indeed.com/rc/clk?jk=f878050621b2b...,Data Scientist
221,Multiple,American Express,"['temporary', 'american', 'express', 'campus',...",Campus Graduate – 2019 Data Scientist / Analyt...,"['r', 'python', 'sql', 'sas']",Multiple,https://www.indeed.com/rc/clk?jk=3fb1234f94b07...,Data Scientist
232,Multiple,Microsoft,"['data', 'scientists', 'microsoft', 'help', 'i...",Full Time opportunities for PhD students and r...,"['perl', 'excel', 'sas', 'r', 'matlab', 'hadoo...",Multiple,https://www.indeed.com/rc/clk?jk=20eb2d365e912...,Data Scientist
328,Multiple,Microsoft,"['microsoft', 'services', 'dedicated', 'delive...",Delivery Data Scientist,"['hadoop', 'r', 'sql', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=14611ec4fac7b...,Data Scientist
438,Multiple,"Anthem, Inc.","['innovation', 'impact', 'anthem', 'inc', 'it’...",AI Chief Data Scientist - PS12747,[],Multiple,https://www.indeed.com/rc/clk?jk=8d480e62a711f...,Data Scientist
467,Multiple,Invesco,"['data', 'scientist', 'pricing', 'job', 'numbe...",Data Scientist-Pricing,['r'],Multiple,https://www.indeed.com/rc/clk?jk=8e360306ff724...,Data Scientist
529,Multiple,WEX Inc.,"['wex', 'inc', 'leading', 'growing', 'global',...",Data Scientist 3,"['python', 'excel', 'hive', 'r', 'tableau', 'h...",Multiple,https://www.indeed.com/rc/clk?jk=5e6a3d20a9855...,Data Scientist
601,Multiple,Agile SDE,"['job', 'title', 'data', 'scientist', 'machine...",Data Scientist / Machine Learning Engineer,"['spark', 'java', 'scala', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=8293416ca4e66...,Data Scientist
727,Multiple,IBM,"['job', 'description', 'ibm', 'global', 'busin...","Data Scientist - Cognitive & Analytics, SF or ...","['spss', 'sas', 'spark', 'r', 'hadoop', 'scala...",Multiple,https://www.indeed.com/rc/clk?jk=8ace44b8aa30c...,Data Scientist
757,Multiple,American Express,"['temporary', 'american', 'express', 'campus',...",Campus Graduate – 2019 Data Scientist / Analyt...,"['r', 'python', 'sql', 'sas']",Multiple,https://www.indeed.com/rc/clk?jk=8bdb68e85a95d...,Data Scientist
810,Multiple,Northrop Grumman,"['northrop', 'grumman', 'possesses', 'decade',...",Data Scientist,['python'],Multiple,https://www.indeed.com/rc/clk?jk=ed08eaf0bb35a...,Data Scientist
970,Multiple,Knock,"['homes', 'valuable', 'asset', 'also', 'diffic...",Senior Machine Learning Engineer,"['sql', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=4b66998b0e61d...,Machine Learning Engineer
980,Multiple,Kofi Solutions Group,"['120000', 'year', 'kofi', 'group', 'currently...",Data Science/Machine Learning Engineer,"['java', 'aws', 'r', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=c91db08668b93...,Machine Learning Engineer
1130,Multiple,Charles Schwab,"['parttime', 'internship', 'description', 'bre...",2019 Schwab Intern Academy – Masters and PhD I...,"['excel', 'spark', 'r', 'tableau', 'scala', 's...",Multiple,https://www.indeed.com/rc/clk?jk=cd875d5ab4a2e...,Machine Learning Engineer
1143,Multiple,IBM,"['job', 'description', 'start', 'dates', 'posi...",Entry-Level Software Developer,"['java', 'javascript', 'sql', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=84cd4de58c5d4...,Software Developer
1151,Multiple,IBM,"['temporary', 'internship', 'job', 'descriptio...",Summer 2019 Software Developer Internship,"['java', 'javascript', 'sql', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=f4cb66ab98f9b...,Software Developer
1152,Multiple,IBM,"['internship', 'job', 'description', 'ibm', 'c...",Software Developer Intern/Coop - New York/Conn...,"['aws', 'r', 'java', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=9ed7bc25e3579...,Software Developer
1154,Multiple,IBM,"['temporary', 'internship', 'job', 'descriptio...",Cognitive Software Developer Intern Summer 2019,"['java', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=8661358841d0a...,Software Developer
1157,Multiple,IBM,"['temporary', 'internship', 'job', 'descriptio...",Summer 2019 Sr. Software Developer Internship,"['java', 'javascript', 'sql', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=e6f20fde9190a...,Software Developer
1173,Multiple,Oracle,"['software', 'developer', '118001kcp', 'prefer...",Software Developer 1,['java'],Multiple,https://www.indeed.com/rc/clk?jk=5e763d1b28df7...,Software Developer
1193,Multiple,IBM,"['temporary', 'internship', 'job', 'descriptio...",Full Stack Developer Intern Summer 2019,"['ruby', 'java', 'python', 'javascript', 'sql']",Multiple,https://www.indeed.com/rc/clk?jk=83128d06a0e6f...,Software Developer
1218,Multiple,Synergistech,"['50', 'hour', 'parttime', 'contract', 'busy',...","Contract Tech Writer, software developer doc; ...","['java', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=e5eea03ecaf26...,Software Developer
...,...,...,...,...,...,...,...,...
4177,Multiple,IBM,"['job', 'description', 'ann', 'arbor', 'mi', '...",Watson Health - Data Architect,[],Multiple,https://www.indeed.com/rc/clk?jk=b3c6f57a0852c...,Data Architect
4261,Multiple,Integrated Data Services (IDS),"['job', 'description', 'ids', 'currently', 'se...",Business Intelligence Data Architect,"['sql', 'd3', 'tableau', 'java']",Multiple,https://www.indeed.com/rc/clk?jk=bab588fc64533...,Data Architect
4312,Multiple,Teklink,"['primary', 'function', 'position', 'developme...",Big Data Architect,"['hadoop', 'hive', 'spark', 'sql', 'r']",Multiple,https://www.indeed.com/rc/clk?jk=820991beb8f30...,Data Architect
4356,Multiple,NIIT Technologies,"['contract', 'primary', 'skills', 'understandi...",Data Insights Engineer,[],Multiple,https://www.indeed.com/rc/clk?jk=c38f10b6b7ab4...,Data Architect
4483,Multiple,IBM,"['job', 'description', 'metadata', 'management...",Watson Health - Metadata Management Lead,[],Multiple,https://www.indeed.com/rc/clk?jk=1b156a4fcc755...,Data Architect
4495,Multiple,Lorven Technologies,"['overview', 'client', 'global', 'leader', 'se...",Healthcare Data Architect,['sql'],Multiple,https://www.indeed.com/rc/clk?jk=cc9faad3123a5...,Data Architect
4522,Multiple,Pythian,"['big', 'data', 'developer', 'united', 'states...",Big Data Developer,"['python', 'hadoop', 'hive', 'spark', 'sql', '...",Multiple,https://www.indeed.com/rc/clk?jk=7dbbbcb39eaeb...,Data Architect
4680,Multiple,Providence Partners,"['develop', 'new', 'schema', 'objects', 'integ...",Data Modeler,"['aws', 'sql']",Multiple,https://www.indeed.com/rc/clk?jk=469d47cdcdc63...,Data Architect
4709,Multiple,The Adecco Group,"['company', 'overview', 'senior', 'bi', 'data'...",senior bi data warehouse developer,['sql'],Multiple,https://www.indeed.com/rc/clk?jk=7b9a3151c7511...,Data Architect
4719,Multiple,Clarity Insights,"['passion', 'data', 'clarity', 'insights', 'le...",Data Engineer - Principal (Big Data Architect)...,"['python', 'hadoop', 'flume', 'docker', 'scala...",Multiple,https://www.indeed.com/rc/clk?jk=b77778edc402f...,Data Architect
4755,Multiple,IBM,"['job', 'description', 'start', 'dates', 'posi...",Entry-Level DevOps Developer,"['java', 'python', 'ruby', 'docker']",Multiple,https://www.indeed.com/rc/clk?jk=5ccdbbde8c894...,DevOps
4809,Multiple,eGifter,"['dev', 'ops', 'engineer', 'technically', 'kno...",DevOps Engineer,['aws'],Multiple,https://www.indeed.com/rc/clk?jk=f9e0d55fd29b0...,DevOps
4827,Multiple,Seadev,"['currently', 'looking', 'selfmotivated', 'pro...",DevOps Engineer,['java'],Multiple,https://www.indeed.com/rc/clk?jk=c38d46ab10396...,DevOps
4852,Multiple,NinjaCat,"['location', 'remote', 'preferred', 'timezone'...",DevOps / IT Ninja,"['aws', 'docker']",Multiple,https://www.indeed.com/rc/clk?jk=9da2016ee251d...,DevOps
4865,Multiple,Upskill,"['wearable', 'technology', 'revolutionizing', ...",Junior Software Engineer - DevOps,"['aws', 'docker', 'sql']",Multiple,https://www.indeed.com/rc/clk?jk=a228b056bfd83...,DevOps
4929,Multiple,Datamatics,"['qualification', 'mandatory', 'skills', 'na',...",DevOps Consultant,"['python', 'docker']",Multiple,https://www.indeed.com/rc/clk?jk=8c066149260f1...,DevOps
4956,Multiple,Microsoft,"['live', 'mobilefirst', 'cloudfirst', 'world',...",Full-time opportunities for students & recent ...,"['java', 'python', 'r']",Multiple,https://www.indeed.com/rc/clk?jk=fb1dc09176bad...,DevOps
4959,Multiple,Chef,"['chef', 'software', 'industry', 'leader', 'au...",Customer Success Manager,[],Multiple,https://www.indeed.com/rc/clk?jk=3f0a4d6d62751...,DevOps
4981,Multiple,Orzota,"['qualified', 'candidate', 'following', 'exper...",HADOOP DEVOPS/ADMINISTRATOR,['hadoop'],Multiple,https://www.indeed.com/rc/clk?jk=03ce3d72defa2...,DevOps
5003,Multiple,"Piggy, LLC","['looking', 'highest', 'caliber', 'devops', 'e...",DevOps Engineer,"['docker', 'spark', 'sql', 'java', 'aws']",Multiple,https://www.indeed.com/rc/clk?jk=bb1dfef15bdc0...,DevOps
5011,Multiple,Platform.sh,"['mission', 'role', 'open', 'remote', 'full', ...",DevOps / SRE,"['ruby', 'python', 'docker', 'java', 'aws']",Multiple,https://www.indeed.com/rc/clk?jk=a8d9502b873b7...,DevOps
5055,Multiple,RouteOne,"['purpose', 'position', 'route', 'one', 'requi...",DevOps Engineer,"['aws', 'docker', 'sql']",Multiple,https://www.indeed.com/rc/clk?jk=cca4c4afbcfa2...,DevOps
5061,Multiple,TaosMountain,"['thirdparty', 'vendors', 'taos', 'immediately...",Cloud/DevOps Solutions Engineer,"['aws', 'python', 'docker']",Multiple,https://www.indeed.com/rc/clk?jk=3b667e1085ddb...,DevOps
5182,Multiple,"Cognosante, LLC","['location', 'field', 'travel', '10', 'remote'...",DevOps Engineer,"['python', 'ruby', 'sql', 'java', 'aws']",Multiple,https://www.indeed.com/rc/clk?jk=5c8f94fc66c70...,DevOps
5342,Multiple,Synerzip Softech India Pvt Ltd,"['synerzip', 'seeking', 'midlevel', 'dev', 'op...",Senior Developer,['sql'],Multiple,https://www.indeed.com/rc/clk?jk=410da7b322851...,DevOps
5397,Multiple,Amazon.com,"['job', 'description', 'amazon', 'web', 'servi...",Technical Trainer,"['ruby', 'python', 'java', 'aws', 'perl']",Multiple,https://www.indeed.com/rc/clk?jk=4f4df4b00af38...,DevOps
5414,Multiple,Intact,"['job', 'description', 'currently', 'seeking',...",Senior Consultant – AppDynamics,['java'],Multiple,https://www.indeed.com/rc/clk?jk=b7111f13c45c4...,DevOps
5427,Multiple,Jewelers Mutual Insurance Company,"['jewelers', 'mutual', 'insurance', 'company',...",BI Engineer,"['hive', 'spark', 'tableau', 'hadoop']",Multiple,https://www.indeed.com/rc/clk?jk=16af2cf33d319...,DevOps
5432,Multiple,IBM,"['job', 'description', '5', 'month', 'coop', '...",DevOps Developer Co-Op (Jan - May 2019),"['java', 'python', 'ruby', 'docker']",Multiple,https://www.indeed.com/rc/clk?jk=f1682469dcc6e...,DevOps
5497,Multiple,Ensis Technologies,"['purpose', 'position', 'awsdev', 'ops', 'engi...",DevOps Engineer/Computer Programmer,"['ruby', 'aws']",Multiple,https://www.indeed.com/rc/clk?jk=ecdbc88a5fa13...,DevOps

In [729]:
formatted_df[formatted_df['city'].isin(['New York','Multiple'])]

,city,company,desc,job_title,skills,state,url,job
0,Multiple,IBM,"['job', 'description', 'ibm', 'amazing', 'oppo...",Entry-Level Data Scientist,"['r', 'java', 'sas', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=68907b23cb078...,Data Scientist
1,New York,Rent the Runway,"['rent', 'runway', 'recently', 'named', '9', '...",Data Scientist,"['java', 'r', 'python']",NY,https://www.indeed.com/rc/clk?jk=b59410cae51ba...,Data Scientist
2,Multiple,IBM,"['internship', 'job', 'description', 'position...",Data Scientist - Intern Conversion,"['r', 'java', 'sas', 'python']",Multiple,https://www.indeed.com/rc/clk?jk=a4139a3bfaa51...,Data Scientist
3,New York,JobRobin,"['100000', '170000', 'year', 'job', 'descripti...",Sports Data Scientist,"['r', 'sql', 'python']",NY,https://www.indeed.com/company/JobRobin/jobs/S...,Data Scientist
4,New York,Newforce,"['40', '50', 'hour', 'contract', 'job', 'summa...",Data Scientist,"['r', 'python']",NY,https://www.indeed.com/company/Newforce-Ltd-Pv...,Data Scientist
5,New York,Guidepoint Global,"['overview', 'guidepoint’s', 'data', 'insights...",Associate Data Scientist,"['r', 'sql', 'python']",NY,https://www.indeed.com/rc/clk?jk=7f048a8152caa...,Data Scientist
7,New York,"Foot Locker, Inc.","['overview', 'associate', 'data', 'scientist',...",ASSOCIATE DATA SCIENTIST,"['spark', 'r', 'hadoop', 'python', 'sql']",NY,https://www.indeed.com/rc/clk?jk=e8f8607e7353a...,Data Scientist
10,New York,Jackson Lewis P.C,"['57', 'offices', '800', 'attorneys', 'jackson...",Data Scientist,"['r', 'python']",NY,https://www.indeed.com/company/Jackson-Lewis-P...,Data Scientist
12,New York,Dow Jones,"['job', 'description', 'looking', 'junior', 'd...",Junior Data Scientist,"['excel', 'r', 'tableau', 'python', 'sql']",NY,https://www.indeed.com/rc/clk?jk=4769b53c33286...,Data Scientist
15,New York,Facebook,"['facebooks', 'mission', 'give', 'people', 'po...","Data Scientist, Analytics, University Grad","['java', 'perl', 'sql', 'python']",NY,https://www.indeed.com/rc/clk?jk=dc75edcebf961...,Data Scientist
16,New York,Spotify,"['looking', 'data', 'scientist', 'join', 'band...",Data Scientist (Product),"['r', 'tableau', 'python', 'd3', 'sql']",NY,https://www.indeed.com/rc/clk?jk=b83ca900d580d...,Data Scientist
17,New York,1010data,"['internship1010data', 'travels', 'speed', 'th...","Data Scientist, Intern (2019)","['ruby', 'java', 'matlab', 'python', 'sql']",NY,https://www.indeed.com/rc/clk?jk=dd66ad0c6e7f0...,Data Scientist
18,Multiple,Infometry,"['scientist', 'responsible', 'scientific', 'in...",Data Scientist,[],Multiple,https://www.indeed.com/rc/clk?jk=e9c4ce13326ee...,Data Scientist
19,New York,Thursday Boot Company,"['need', 'help', 'thursday', 'searching', 'exp...",Data Scientist,[],NY,https://www.indeed.com/rc/clk?jk=0daf09ac32ab1...,Data Scientist
20,New York,KOCH MINERALS,"['learn', 'visiting', 'website', 'eft', 'analy...",Data Scientist (EFT Analytics),['java'],NY,https://www.indeed.com/rc/clk?jk=2d1ce03912ff8...,Data Scientist
23,New York,Time Warner,"['05oct2018', 'hbo', 'data', 'scientist', 'con...","HBO Data Scientist, Content Science","['r', 'python']",NY,https://www.indeed.com/rc/clk?jk=a1c745d499df7...,Data Scientist
24,New York,WeWork,"['temporary', 'internship', 'work', 'continues...",Data Scientist Summer Intern,"['r', 'sql', 'python']",NY,https://www.indeed.com/rc/clk?jk=e586cedc5aac7...,Data Scientist
25,Multiple,Microsoft,"['internship', 'data', 'scientists', 'microsof...",Intern opportunities for students: Data & Appl...,"['perl', 'excel', 'sas', 'r', 'matlab', 'hadoo...",Multiple,https://www.indeed.com/rc/clk?jk=d4a369d1e1ad7...,Data Scientist
26,New York,Liquidnet,"['acquisition', 'otas', 'technologies', '2017'...",Junior Data Scientist/Quant Developer,"['java', 'python']",NY,https://www.indeed.com/rc/clk?jk=d7680d678c00c...,Data Scientist
29,New York,Viome,"['viome', 'wellness', 'service', 'company', 'a...",Data Scientist,"['java', 'sql', 'python']",NY,https://www.indeed.com/rc/clk?jk=fe0d33f4a900c...,Data Scientist
32,New York,Amazon.com,"['business', 'team', 'introduction', 'amazon',...",Data Scientist - Demand Forecasting,"['r', 'java', 'matlab', 'hadoop', 'scala', 'py...",NY,https://www.indeed.com/rc/clk?jk=7f453f0003b66...,Data Scientist
33,New York,GNY Insurance Companies,"['internship', 'greater', 'new', 'york', 'mutu...",Data Science Intern,"['excel', 'r', 'sas', 'python', 'sql']",NY,https://www.indeed.com/rc/clk?jk=9289988f4d3fc...,Data Scientist
34,New York,Viacom,"['overview', 'responsibilities', 'junior', 'da...",Junior Data Scientist,"['spark', 'r', 'tableau', 'python', 'hive', 's...",NY,https://www.indeed.com/rc/clk?jk=b25880be89992...,Data Scientist
35,Multiple,Cigna,"['fun', 'work', 'company', 'people', 'truly', ...",Data Scientist (Informatics Service Operations),"['tableau', 'sql']",Multiple,https://www.indeed.com/rc/clk?jk=0bf6b9d83671e...,Data Scientist
38,New York,Byteflows Dynamics Science & Consulting,"['50', '80', 'hour', 'parttime', 'boutique', '...",Data Scientist & Consulting,"['r', 'python']",NY,https://www.indeed.com/company/Byteflow-Dynami...,Data Scientist
39,New York,Rockefeller Foundation,"['rockefeller', 'foundation’s', 'data', 'techn...",Data Scientist (Visualization),"['d3', 'r', 'excel', 'python']",NY,https://www.indeed.com/rc/clk?jk=ae171d2f6c613...,Data Scientist
40,New York,Moda Operandi,"['job', 'description', 'data', 'science', 'pla...",Data Scientist,"['spark', 'r', 'sql', 'python']",NY,https://www.indeed.com/rc/clk?jk=1dcb35ccf29d9...,Data Scientist
42,New York,AlphaSights Ltd.,"['data', 'scientist', 'alpha', 'sights', 'sear...",Data Scientist,[],NY,https://www.indeed.com/rc/clk?jk=d5f27035f516a...,Data Scientist
43,New York,Phreesia,"['job', 'title', 'data', 'scientist', 'locatio...",Data Scientist,"['spark', 'r', 'sql', 'python']",NY,https://www.indeed.com/rc/clk?jk=95eab7ee4d2cc...,Data Scientist
44,New York,Rockefeller Foundation,"['rockefeller', 'foundation’s', 'data', 'techn...",Data Scientist (Analytics),"['r', 'excel', 'python']",NY,https://www.indeed.com/rc/clk?jk=056da67a09d0e...,Data Scientist
...,...,...,...,...,...,...,...,...
5348,New York,Amazon.com,"['job', 'description', 'partner', 'solutions',...",Solutions Architect - Migrations,['aws'],NY,https://www.indeed.com/rc/clk?jk=4ecc1b60a39e2...,DevOps
5353,New York,Paintzen,"['paintzen', 'disruptive', 'logistics', 'platf...",DevOps Engineer,"['python', 'aws', 'cassandra']",NY,https://www.indeed.com/rc/clk?jk=48518f1fa0589...,DevOps
5358,New York,Amazon.com,"['amazon', 'web', 'services', 'looking', 'moti...",Associate Cloud Developer - New York,"['java', 'aws', 'python']",NY,https://www.indeed.com/rc/clk?jk=4c959af339cc5...,DevOps
5369,New York,Vlocity,"['company', 'description', 'vlocity', 'forbes'...",Salesforce DevOps Engineer,['java'],NY,https://www.indeed.com/rc/clk?jk=9bb98a7a027d2...,DevOps
5373,New York,Pamten Inc,"['job', 'description', 'position', 'dev', 'ops...","Dev Ops with Production Support in New York, NY",['python'],NY,https://www.indeed.com/rc/clk?jk=0348656db35d5...,DevOps
5378,New York,Correlation One,"['full', 'stack', 'software', 'engineer', 'cor...",Full Stack Engineer,"['ruby', 'python', 'aws', 'docker']",NY,https://www.indeed.com/rc/clk?jk=6a86fdd9f5704...,DevOps
5381,New York,Tellic LLC,"['job', 'overview', 'want', 'part', 'team', 'r...",Senior DevOps Engineer,"['python', 'hadoop', 'docker', 'spark', 'aws']",NY,https://www.indeed.com/rc/clk?jk=27ec7843279a3...,DevOps
5397,Multiple,Amazon.com,"['job', 'description', 'amazon', 'web', 'servi...",Technical Trainer,"['ruby', 'python', 'java', 'aws', 'perl']",Multiple,https://www.indeed.com/rc/clk?jk=4f4df4b00af38...,DevOps
5399,New York,MakeSpace,"['make', 'space', 'technology', 'solution', 'p...",Senior DevOps Engineer,"['ruby', 'python', 'docker', 'java', 'aws']",NY,https://www.indeed.com/rc/clk?jk=6012730df29bd...,DevOps
5410,New York,NS1,"['us', 'ns1s', 'mission', 'unlock', 'potential...",Documentation Writer,"['python', 'docker', 'sql']",NY,https://www.indeed.com/rc/clk?jk=5308d56b54066...,DevOps
5414,Multiple,Intact,"['job', 'description', 'currently', 'seeking',...",Senior Consultant – AppDynamics,['java'],Multiple,https://www.indeed.com/rc/clk?jk=b7111f13c45c4...,DevOps
5418,New York,Extreme Reach,"['extreme', 'reach', 'offers', 'industry’s', '...",Cloud Operations Engineer,"['aws', 'python', 'perl']",NY,https://www.indeed.com/rc/clk?jk=0d44b5c229036...,DevOps
5424,New York,Cara Staffing,"['140000', '150000', 'year', 'executive', 'rec...",Sr. AWS DevOps Engineer,['aws'],NY,https://www.indeed.com/company/Cara-Staffing/j...,DevOps
5427,Multiple,Jewelers Mutual Insurance Company,"['jewelers', 'mutual', 'insurance', 'company',...",BI Engineer,"['hive', 'spark', 'tableau', 'hadoop']",Multiple,https://www.indeed.com/rc/clk?jk=16af2cf33d319...,DevOps
5432,Multiple,IBM,"['job', 'description', '5', 'month', 'coop', '...",DevOps Developer Co-Op (Jan - May 2019),"['java', 'python', 'ruby', 'docker']",Multiple,https://www.indeed.com/rc/clk?jk=f1682469dcc6e...,DevOps
5436,New York,Alley Recruits,"['monsterful', 'httpmonsterfulvrcom', 'innovat...",Senior Development Operations (DevOps) Engineer,"['java', 'python', 'aws']",NY,https://www.indeed.com/rc/clk?jk=da0dcb3496925...,DevOps
5441,New York,Google,"['note', 'applying', 'position', 'application'...","Cloud DevOps and Infrastructure Engineer, Goog...","['java', 'python', 'docker']",NY,https://www.indeed.com/rc/clk?jk=aa7380299e493...,DevOps
5450,New York,MRS Consulting,"['175000', '200000', 'year', 'senior', 'level'...",CI/CD DevOps Engineer,[],NY,https://www.indeed.com/company/MRS-Consulting/...,DevOps
5454,New York,"The Hagan-Ricci Group, Inc.","['200000', '250000', 'year', 'act', 'intermedi...",DevOps,['python'],NY,https://www.indeed.com/rc/clk?jk=0e9c788e6416a...,DevOps
5497,Multiple,Ensis Technologies,"['purpose', 'position', 'awsdev', 'ops', 'engi...",DevOps Engineer/Computer Programmer,"['ruby', 'aws']",Multiple,https://www.indeed.com/rc/clk?jk=ecdbc88a5fa13...,DevOps
5518,New York,B&H Photo Video,"['job', 'overview', 'bh', 'looking', 'experien...",Senior DevOps Engineer,['sql'],NY,https://www.indeed.com/rc/clk?jk=010ac5989d0d0...,DevOps
5519,New York,Slice,"['slice', 'slice', 'leading', 'technology', 'm...",Data Engineer,"['spark', 'aws', 'hadoop', 'sql']",NY,https://www.indeed.com/rc/clk?jk=f497612225bac...,DevOps
5539,New York,Avidity Solutions,"['75', '100', 'hour', 'contract', 'avidity', '...",IAG / IDM Architect,"['java', 'aws', 'python']",NY,https://www.indeed.com/company/NBI-Consulting/...,DevOps
5543,New York,Fit4D,"['systems', 'manager', 'new', 'york', 'ny', 'p...",Systems Manager,"['python', 'hadoop', 'hive', 'spark', 'sql', '...",NY,https://www.indeed.com/rc/clk?jk=ceda76dab4b35...,DevOps
5545,New York,Amazon.com,"['job', 'description', 'global', 'professional...",Security Assurance Consultant,['aws'],NY,https://www.indeed.com/rc/clk?jk=db89c682b50aa...,DevOps
5549,New York,EPAM Systems,"['curious', 'persistent', 'logical', 'clever',...",DevOps Solution Architect,"['ruby', 'python', 'aws', 'perl']",NY,https://www.indeed.com/rc/clk?jk=db6d70a95ca1b...,DevOps
5553,New York,SoftVision - North America & UK,"['transformational', 'partner', 'marry', 'desi...",Sr. DevOps Engineer,"['aws', 'python', 'perl']",NY,https://www.indeed.com/rc/clk?jk=8aa26ae14b4f2...,DevOps
5556,New York,Deloitte,"['research', 'developer', 'interested', 'impro...",Cyber Threat Research Developer,"['java', 'python']",NY,https://www.indeed.com/rc/clk?jk=98b587becc8a6...,DevOps
5563,New York,Dailymotion,"['contract', 'job', 'description', 'part', 'gr...",Site Reliability Engineer / DevOps Engineer,"['ruby', 'aws', 'python', 'docker']",NY,https://www.indeed.com/rc/clk?jk=a2ae086927424...,DevOps
5574,New York,Policygenius,"['want', 'help', 'people', 'get', 'financial',...",Staff Engineer,"['ruby', 'python', 'docker', 'sql', 'java']",NY,https://www.indeed.com/rc/clk?jk=3e993e081887a...,DevOps

In [732]:
def get_query_df(df,job = None, city = None, state = None, skills = None, stringency = None):
    '''
    skills = list 
    '''
    
    
    if job != None:
        
        jobs_available = formatted_df.job.unique()
        
        if job not in jobs_available:
            return 'Job Unavailable'
        
        df = df[df['job'] == 'Data Scientist']
        
    if city != None:
        cities_available = formatted_df.city.unique()
        
        if city not in cities_available:
            return 'City Unavailable'
        else:
            df = df[df['city'].isin([city,'Multiple'])]
    
    if state != None:
        
        states_available = formatted_df.state.unique()
        
        if state not in states_available:
            return 'State Unavailable'

        df = df[df['state'].isin([state,'Multiple'])]
    
    
    
    if skills != None:
        
        job_skills = df.skills.values
        job_skills = [ast.literal_eval(x) for x in job_skills]
        indexes = []
        
        if stringency == 'all':
            for i,job in enumerate(job_skills):
                if skills == job:
                    indexes.append(i)
                
            df = df.iloc[indexes,:]
            
            #need to do the ones for only r only python etc 
        
        elif stringency == 'only':
            for i, job in enumerate(job_skills):
                if set(job).issubset(skills):
                    indexes.append(i)
            
            df = df.iloc[indexes,:]
            
        elif stringency == 'atleast':
            for i, job in enumerate(job_skills):
                if set(skills).issubset(job):
                    indexes.append(i)
            
            df = df.iloc[indexes,:]
    
    if df.empty == True:
        return 'There are no jobs available for this combination'
    
    return df

In [733]:
get_query_df(formatted_df,'Data Scientist',city = 'New York',state = 'NY',skills = ['python'], stringency ='all')

,city,company,desc,job_title,skills,state,url,job
88,New York,Dstillery,"['dstillery', 'tech', 'pioneer', 'helps', 'mar...",Data Scientist,['python'],NY,https://www.indeed.com/rc/clk?jk=b070ab413cdd3...,Data Scientist
119,New York,JP Morgan Chase,"['new', 'rapidly', 'growing', 'team', 'change'...",Data Scientist - Associate - CIB Treasury Serv...,['python'],NY,https://www.indeed.com/rc/clk?jk=6abc8cb483f33...,Data Scientist
140,New York,JP Morgan Chase,"['jp', 'morgans', 'corporate', 'investment', '...",Data Scientist - Global Investment Banking - A...,['python'],NY,https://www.indeed.com/rc/clk?jk=c4297954b5e5e...,Data Scientist
145,Multiple,Rho AI,"['scikitlearn', 'num', 'py', 'tensorflow', 'le...",Sr. Data Scientist,['python'],Multiple,https://www.indeed.com/rc/clk?jk=a4841317be7f8...,Data Scientist
218,New York,JP Morgan Chase,"['new', 'rapidly', 'growing', 'team', 'change'...",Data Scientist - CIB Treasury Services,['python'],NY,https://www.indeed.com/rc/clk?jk=b50eec9c65a24...,Data Scientist
533,New York,Bloomberg,"['senior', 'data', 'scientist', 'new', 'york',...",Senior Data Scientist,['python'],NY,https://www.indeed.com/rc/clk?jk=a772706724bba...,Data Scientist
761,New York,JP Morgan Chase,"['new', 'rapidly', 'growing', 'team', 'change'...",Data Scientist - Executive Director - CIB Trea...,['python'],NY,https://www.indeed.com/rc/clk?jk=9d92f3b7ea785...,Data Scientist
810,Multiple,Northrop Grumman,"['northrop', 'grumman', 'possesses', 'decade',...",Data Scientist,['python'],Multiple,https://www.indeed.com/rc/clk?jk=ed08eaf0bb35a...,Data Scientist

In [625]:
def get_ideal_text(skill_set,ideal_url):
    
    _, _, _, job_description = get_job_info(ideal_url)
    text_no_skills, _ = clean_job_description(job_description,skill_set)
    
    return text_no_skills

In [256]:
def get_top_sim(ideal_text, query_df,num):
    
    ideal_words = [" ".join(ideal_text)]
    
    job_words = df.desc.values
    job_words = [ast.literal_eval(x) for x in job_words] #turns string into a list
    job_words[x for x in job_words if not isinstance(x, int)] #gets rid of numbers
    
    
    stemmer = SnowballStemmer('english') #get rid if this if you're going to do semantic similary
    job_words_stem = [] 
    for job in job_words:
        job_words_stem.append([stemmer.stem(word) for word in job]) 
    
    job_desc = [" ".join(li) for li in job_words_stem]
    
    vectorizer = TfidfVectorizer() #make sure these defaults are correct
    model = vectorizer.fit(job_desc)
    
    ideal_tfidf = model.transform(ideal_words)
    job_tfidf = model.transform(job_desc)
    
    cosine_sim = cosine_similarity(ideal_tfidf,job_tfidf)
    
    if len(cosine_sim) <= num:
        return cosine_sim.argsort()[0][::-1]
    else:
        return cosine_sim.argsort()[0][::-1][0:num]

In [ ]:
def get_top_jobs(query_df,indices):
    return query_df.iloc[indices,:]